<p><%= t('.greeting', name: @user.full_name) %>,</p>

<p>
  <%= t('.you_asked_for') %><br>
  <%= link_to t('.click_here'), root_url(token: @user.token) %><br>
  <%= t('.then_you_can') %>
</p>

<p><%= t('.bye') %></p>