<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Birth name:</strong>
  <%= @person.birth_name %>
</p>

<p>
  <strong>Complete name:</strong>
  <%= @person.complete_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
