<div class="uk-width-1-2@m">
  <%= f.input :name, wrapper_html: {class: 'error'} %>
</div>

<%= f.input :profile, input_html: {rows: 8} %>

<div uk-grid>
  <div class="uk-width-1-3@m">
    <%= f.input :website %>
  </div>
  <% if false # TODO %>
      <div class="uk-width-1-3@m">
        <%= f.input :email %>
      </div>
  <% end %>
</div>

<% if false # TODO %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :fixed_line %>
      </div>
      <div class="col-md-4">
        <%= f.input :fax %>
      </div>
    </div>
<% end %>

<h2><%= t('activerecord.models.address.one') %></h2>
<%= f.fields_for :address do |a| %>
    <%= render 'addresses/address_fields', :f => a %>
<% end %>

<h2><%= t('activerecord.attributes.enterprise.director') %></h2>
<%= f.fields_for :director do |ff| %>
    <%= ff.hidden_field :id %>
    <div uk-grid>
      <div class="uk-width-1-3@m"><%= ff.input :first_name %></div>
      <div class="uk-width-1-3@m"><%= ff.input :surname %></div>
    </div>
<% end %>
