<%= enterprise_breadcrumb(@enterprise).html_safe %>

<div class="uk-flex-middle" uk-grid>
  <div class="uk-width-auto@m">
    <h1 id="name"><%= @enterprise.name %></h1>
  </div>
  <div class="uk-width-auto@m">
    <% if policy(@enterprise).edit? %>
        <%= link_to t('helpers.edit'), edit_enterprise_path(@enterprise),
                    class: 'uk-button uk-button-primary uk-button-small' %>
    <% end %>
    <% if policy(@enterprise).destroy? %>
        <%= link_to t('helpers.delete'), @enterprise, method: :delete,
                    class: 'uk-button uk-button-default uk-button-small',
                    data: {confirm: t('helpers.are_you_sure')} %>
    <% end %>
  </div>
</div>

<%= render @enterprise %>

<% if @enterprise.website.present? %>
    <p>
      <strong><%= t('activerecord.attributes.enterprise.website') %>:</strong>
      <!-- TODO: http:// ... -->
      <span id="website"><%= link_to @enterprise.website, @enterprise.website %></span>
    </p>
<% end %>

<h2><%= t('activerecord.models.internship.other') %></h2>
<%= render 'internships/internships', internships: policy_scope(@enterprise.internships).to_a %>